*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: 80px;
}

.logo img{
    width: 50px;
}

.menu-items a img{
width: 40px;
}

.menu-items a{
    margin-left: 5px;
}

}

}

.left-side h1{
    font-size: 40px;
    color: rgb(209, 204, 204);

}

p{
color: white;
font-family: montserrat;
font-size: 25px;
}


h1{
    font-family: 'Poppins', sans-serif;
    background-color:  white;
    Text-align: center
    
}

h2{
    background-color: rgb(77, 77, 77);
    text-align: center;
    height: 20%;
}  





